.brewery-item {
    list-style: none;
    position: relative;
}

#brewery-list {
    display: flex;
}

.brewery-item img {
    width: 200px;
    height: 270px;
    padding: 10px;
}

.favorite-item {
    list-style: none;
}

#favorites-list {
    display: flex;
}

.favorite-item img {
    width: 200px;
    height: 270px;
    padding: 10px;
}

#star {
    cursor: pointer;
    font-size: 26px;
}

h2 {
    padding: 0;
}
/* 
#list-1 {
    content: "";
    background-image: url("./images/brew1.jpeg");
    background-size: 240px 150px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

#list-2 {
    background-image:  url("./images/brew2.jpeg");
    background-size: 200px 150px;
} */